<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('frontend.show_index_page') }}">Video Analysis</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if page == 'index' %} class="active" {% endif %}><a href="{{ url_for('frontend.show_index_page') }}">Video Processing</a></li>
        <li><a href="#">Thumbnail Overview</a></li>
      </ul>
    </div>
  </div>
</nav>