{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h3>Original image</h3>
                <div class="thumbnail">
                    <img src="{{ url_for('static', filename='images/' + image.static_url_ref) }}" width="300">
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Image with detection marks</h3>
                <div class="thumbnail">
                    <img src="{{ url_for('static', filename='images/' + image.rendered_with_face_detection_name) }}"
                         width="300">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <h3>Color Codes</h3>
                    {% for color in image.color_palette %}
                        <div class="box" style="background: rgb({{ color[0] }}, {{ color[1] }}, {{ color[2] }});">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h2>Basic Image Information</h2>
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Image Size</h4>
                        <p class="list-group-item-text">
                            <strong>Width of the image is:</strong> {{ image.image_width }} <br>
                            <strong>Height of the image is:</strong> {{ image.image_height }}
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Image Mode</h4>
                        <p class="list-group-item-text">
                            <strong>Mode of the image is:</strong> {{ image.image_mode }}
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Dominant Color</h4>
                        <p class="list-group-item-text">
                            <strong>Dominant color in image is:</strong> {{ image.dominant_color }}
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <h2>Landmark Face Detection Results</h2>
                <div class="list-group">
                    {% for landmark in image.landmarks %}
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Landmark: {{ landmark.landmark_type }}</h4>
                            <p class="list-group-item-text">
                                <strong>X</strong> {{ landmark.x }} <br>
                                <strong>Y</strong> {{ landmark.y }} <br>
                                <strong>Z</strong> {{ landmark.z }}
                            </p>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4">
                <h2>Likelihood Detection</h2>
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Likelihoods</h4>
                        <p class="list-group-item-text">
                            <strong>Under Exposed:</strong> {{ image.under_exposed_likelihood }} <br>
                            <strong>Anger:</strong> {{ image.anger_likelihood }} <br>
                            <strong>Blurred:</strong> {{ image.blurred_likelihood }} <br>
                            <strong>Sorrow:</strong> {{ image.sorrow_likelihood }} <br>
                            <strong>Joy:</strong> {{ image.joy_likelihood }} <br>
                            <strong>Surprise:</strong> {{ image.surprise_likelihood }} <br>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}