{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for image in images %}
                <div class="col-lg-2">
                    <a href="{{ url_for('frontend.show_single_thumbnail_by_name', image_name=image) }}" class="thumbnail">
                        <img src="{{ url_for('static', filename='images/' + image) }}" width="300">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}